<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppName" value="阿里妈妈导单"></add>
    <add key="Version" value="1.0"></add>
    <add key="acc" value="山竹来了了"></add>
    <add key="importUrl" value="http://trade.aikbao.com/index/Test/test?"/>
  </appSettings>
</configuration>